nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    
    margin: 20px;
    background-color: #d3d8bb;
    color: #333;
    font-size: medium;
    padding: 50px;
}

a, .logo{
    text-decoration: none;
    color: black;
}

.a-subpage{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.english-poem-font {
    font-family: "Times New Roman", serif;
    line-height: 1.6;
}

.chinese-poem-font {
    font-family: "Songti SC", serif;
    line-height: 2.0;
}

h1 {
    color: #007acc;
}

p {
    font-size: 1.1em;
}