body {
    font-family: Arial, "Microsoft YaHei", sans-serif;
    margin: 20px;
    background-color: #d3d8bb;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #007acc;
}

p {
    font-size: 1.1em;
}