body {
    
    margin: 0px;
    
    background-color: #d3d8bb;
    color: #333;
    font-size: medium;
    padding: 0px;
}

header{
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    padding-top: 50px;
    padding-bottom: 10px;
    top: 0px;
    border-bottom: 1px solid #595959;
    z-index: 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 80px;
}

main{
    margin-top: 120px;
    padding-inline: 80px;
}

a, .logo{
    text-decoration: none;
    color: black;
}

.a-subpage{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.english-poem-font {
    font-family: "Times New Roman", system-ui;
    line-height: 1.6;
}

.chinese-poem-font {
    font-family: "Songti SC", serif;
    line-height: 2.0;
}

h1 {
    color: #007acc;
}

p {
    font-size: 1.1em;
}

.nav-btns{
    display: flex;
    gap: 24px;
}

.name-tag{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.8rem;
    margin-bottom: 40px;
    
}

.name-tag img{
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.name-tag p{
    margin: 0;
}

.create-time{
    opacity: 0.6;
}