body {
    font: 12px/1.125 Arial,Helvetica,sans-serif;
    _font-family: "Songti SC";
    margin: 20px;
    background-color: #d3d8bb;
    color: #333;
    line-height: 1.6;
    font-size: medium;
}

h1 {
    color: #007acc;
}

p {
    font-size: 1.1em;
}