html{
    font-family: "Stack Sans Text", sans-serif;
}

body{
    background-color: aliceblue;
}

section {
    margin: 50px 0px;
}

h1, h2, h3, h4{
    font-family: "Stack Sans Headline", sans-serif;
}

p{
    
}

button{
    background-color: black;
    padding: 10px 20px;
    color: aliceblue;
    border: none;
    border-radius: 100px;
}

.div-animate{
    position: relative;
}

.p-clickanimate{
    position: relative;
}

.hidden{
    display: none;
}

.canvas{
    margin-top: 10px;
}


.box{
    /* padding: 10px; */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 213, 247);
    margin-bottom: 20px;
}

.group-from-to{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}