section {
    margin: 50px 0px;
}

button{
    background-color: black;
    padding: 10px 20px;
    color: aliceblue;
    border: none;
    border-radius: 100px;
}

.div-animate{
    position: relative;
}

.p-clickanimate{
    position: relative;
}

.hidden{
    display: none;
}